page-ledger-listing-details {

    .ledger-date {
        color:#E4EBED;
        font-size:14px; 
        text-align: center; 
        background-color: #1c2431 !important; 
        padding: 1em; 
        margin: 0;
    }
}
