<!--
  Generated template for the MonthFilterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="navbar">
    <ion-title text-center>Months Filter Modal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-grid>

    <ion-row>
      <ion-col col-4 style="margin:1%;background-color: #FFCB08; color:#000; padding:5px;border-radius:15px;" *ngFor="let selected of selectedMonthsList">
        <div style="width:90%;float:left">{{selected.monthName}}</div>
        <div style="width: 8%;float:left" (click)="removeSelected(selected)">
          <ion-icon name="md-close"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>

        <ion-list>

          <ion-item *ngFor="let summaryReportMonth of summaryReportMonthsList">
            <ion-label (click)="updateSummaryReportCheckStatus(summaryReportMonth)">{{summaryReportMonth.monthName}}</ion-label>
          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer color="primary">
  <ion-toolbar>
    <ion-row>
      <ion-col col-6 (click)="dismissModal()" text-center>
        CANCEL
      </ion-col>
      <ion-col col-6 (click)="applyFilters()" text-center>
        APPLY FILTERS
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>