<!--
  Generated template for the OrderMgmtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>Order Management</ion-title>

  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-searchbar [(ngModel)]="myInput" (ionChange)="onInput()" placeholder="Search By Customer Name, Order No.">
  </ion-searchbar>

  <div *ngIf="orderDetailsList.length==0" class="pj-empty-page" style="margin-top: 40%;">
    <ion-icon name="ios-cart-outline"></ion-icon>
    <h4>No Orders To Show</h4>
  </div>


  <ion-card (click)="openBookedOrders()" *ngIf="null == customer || customer == undefined">

    <ion-card-header>
      <ion-row>
        <ion-col col-12 text-center>
          <strong>Booked Orders</strong>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>

      <ion-row>
        <ion-col col-12 text-center>
          {{bookedOrderCount}}
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let orderDetails of orderDetailsList" (click)="openOrderDetails(orderDetails)">

    <ion-card-header>
      <ion-row>
        <ion-col col-4>
          <!-- <h2 class="pj-title">SO No. - {{ orderDetails.orderPrefix }}{{ orderDetails.orderNo }} </h2> -->
          <strong>SO No. - {{ orderDetails.docNum }} </strong>
        </ion-col>
        <ion-col col-8>
          <!-- //TODO: Display Order Created Ts -->
          <!-- <p class="pj-date-and-status" style="color: #ccc;">
            {{ orderDetails.createdTs | date: 'dd MMM yyyy hh:mm a' }}
          </p> -->
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>

      <!-- <ion-row>
        <ion-col col-12>
          <h4 class="pj-title">Quotation No. - {{ orderDetails.quotationNo }}</h4>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col col-12>
          <!-- <h4 class="pj-card-label-light">
            {{ orderDetails.custDtl.userPrefix }}{{ orderDetails.custDtl.userCode }} - {{ orderDetails.custDtl.firstName }}{{ orderDetails.custDtl.lastName
            }}</h4> -->
          <strong>{{ orderDetails.cardCode }} - {{ orderDetails.cardName }}</strong>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <!-- <h5 class="pj-sub-title"> {{ orderDetails.addrNm }}, {{ orderDetails.stAddr }} , {{ orderDetails.landmark }},
            {{ orderDetails.areaNm }},
            {{ orderDetails.cityNm }}, {{ orderDetails.stateNm }}</h5> -->

        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col col-12>
          <h5 class="pj-sub-title">Rs. {{ orderDetails.grandTotal }} </h5>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col col-6>
          <!-- <h5 class="pj-sub-title" *ngIf="orderDetails.createdByName != undefined">Created By - {{ orderDetails.createdByName }}</h5> -->
          Qty - {{orderDetails.quantity}}
        </ion-col>
        <!-- <ion-col col-6>
          <button ion-button small color="primary" class="pj-date-and-status" *ngIf="orderDetails.orderStatus == 'PENDING'">
            {{orderDetails.orderStatus}}
          </button>
          <button ion-button small color="secondary" class="pj-date-and-status" *ngIf="orderDetails.orderStatus == 'DELIVERED'">
            {{orderDetails.orderStatus}}
          </button>
          <button ion-button small color="primary" class="pj-date-and-status" *ngIf="orderDetails.orderStatus == 'ONGOING'">
            {{orderDetails.orderStatus}}
          </button>
          <button ion-button small color="danger" class="pj-date-and-status" *ngIf="orderDetails.orderStatus == 'CANCELLED'">
            {{orderDetails.orderStatus}}
          </button>
        </ion-col> -->
      </ion-row>

    </ion-card-content>

  </ion-card>

  <ion-fab bottom right>
    <button class="add-button" color="primary" ion-fab (click)="naviagteToOrderCreatePage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>