page-summary-report {

    table {
        border-collapse: separate;
        border-spacing: 0;
        /*border-top: 1px solid grey;*/
      }
      
      td, th {
        margin: 0;
        /*border: 1px solid grey;*/
        white-space: nowrap;
        border-top-width: 0px;
        padding: 14px 12px;
        text-align: left;
      }
      
      .scroll-table-div {
        width: 70%;
        overflow-x: scroll;
        margin-left: 28%;
        overflow-y: scroll;
        padding: 0;
      }
      
      .headcol {
        position: absolute;
        /*width: 1rem;*/
        left: 0;
        top: auto;
        border-top-width: 1px;
        /*only relevant for first row*/
        margin-top: -1px;
        /*compensate for top border*/
      }
      
      .bold-heading {
        font-weight: bold !important;
      }

      .light-color {
        color: color($colors, light, base) !important;
        border-bottom: 1px solid color($colors, light, base) !important;
      }
}
