<!--
  Generated template for the CustomerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar" text-center>
    <ion-buttons end>
      <button ion-button item-end (click)="presentPopover($event)" style="background-color: #1c2431; font-size: 20px; color:#E4EBED;">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Customer Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <!-- Customer Basic Details -->
  <ion-card no-margin style="width:100%;">

    <ion-card-header>
      <ion-row>
        <ion-col col-12 text-center>
          <strong>{{customer.customerDetails.cardCode}} - {{customer.customerDetails.cardName}}</strong>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>

      <ion-row>
        <ion-col col-12 text-center>
          <span style="font-size:4rem;">
            <strong>
              <i class="fa fa-rupee"></i>
              {{customer.customerDetails.balance == null || customer.customerDetails.balance == '' ? '0' :
              customer.customerDetails.balance }}
            </strong>
          </span>
          <p style="color:#E4EBED;font-size:10px;">Total Due Balance</p>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col col-12>
          Contact No.
        </ion-col>
      </ion-row>
      <ion-row *ngIf="customer.customerDetails.cellular != null && customer.customerDetails.cellular != ''">
        <ion-col col-11>
          {{customer.customerDetails.cellular}}
        </ion-col>
        <ion-col col-1 color="primary" (click)="callCust(customer.customerDetails.cellular)">
          <ion-icon name="md-call"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="customer.customerDetails.phone1 != null && customer.customerDetails.phone1 != ''">
        <ion-col col-11>
          {{customer.customerDetails.phone1}}
        </ion-col>
        <ion-col col-1 color="primary" (click)="callCust(customer.customerDetails.phone1)">
          <ion-icon name="md-call"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="customer.customerDetails.phone2 != null && customer.customerDetails.phone2 != ''">
        <ion-col col-11>
          {{customer.customerDetails.phone2}}
        </ion-col>
        <ion-col col-1 color="primary" (click)="callCust(customer.customerDetails.phone2)">
          <ion-icon name="md-call"></ion-icon>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-5>
          Email
        </ion-col>
        <ion-col col-7>
          {{customer.customerDetails.eMail == null || customer.customerDetails.eMail == '' ? 'Not Available' :
          customer.customerDetails.eMail }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-5>
          Balance
        </ion-col>
        <ion-col col-7>
          {{customer.customerDetails.balance == null || customer.customerDetails.balance == '' ? 'Not Available' :
          customer.customerDetails.balance }}
        </ion-col>
      </ion-row> -->

    </ion-card-content>

    <!-- <ion-row (click)="shareLedger()" *ngIf="!isModalData" color="dark" style="color: #FFCB08 !important; margin: 2% !important;">
      <ion-col col-2></ion-col>
      <ion-col col-2 text-center>
        <ion-icon name="share" color="primary"></ion-icon>
      </ion-col>
      <ion-col col-6 text-left>
        Share Ledger Report
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row> -->
  </ion-card>

  <!-- Credit Limit And Deviation -->
  <ion-row no-padding>
    <ion-col padding text-center col-6 style="border-right: 1px solid #FFCB08">
      <p color="primary"><strong>Credit Limit</strong></p>
      <p color="primary"><i class="fa fa-rupee"></i> {{customer.customerDetails.creditLine}}</p>
    </ion-col>
    <ion-col col-6 padding text-center>
      <p color="primary"><strong>Credit Deviation</strong></p>
      <p color="primary"><i class="fa fa-rupee"></i> {{customer.customerDetails.creditDeviation}}</p>
    </ion-col>
  </ion-row>

  <!-- Customer Actions  -->
  <!-- <ion-card *ngIf="!isModalData">
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item style="background-color: #1c2431 !important; margin: 0 !important; padding: 0 !important;">
            <button color="dark" style="color: #FFCB08 !important; margin: 0 !important;" ion-item (click)="showAgingReport()">
              Aging Report
              <ion-icon item-end name="ios-arrow-forward"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <!-- <ion-card *ngIf="!isModalData">
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item style="background-color: #1c2431 !important; margin: 0 !important; padding: 0 !important;">
            <button color="dark" style="color: #FFCB08 !important; margin: 0 !important;" ion-item (click)="showOrders()">
              Orders
              <ion-icon item-end name="ios-arrow-forward"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <!-- Pending Invoices -->
  <!-- 
  <ion-card *ngIf="!isModalData">
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item style="background-color: #1c2431 !important; margin: 0 !important; padding: 0 !important;">
            <button color="dark" style="color: #FFCB08 !important; margin: 0 !important;" ion-item (click)="showPendingInvoicesFilter()">
              Pending Invoices
              <ion-icon item-end name="ios-arrow-forward"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card> -->


  <!-- Customer Contact Person Details Details -->
  <!-- <ion-card>

    <ion-card-header>
      <ion-row>
        <ion-col col-12 text-center style="border-bottom: 1px solid #FFCB08;">
          Contact Person
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>

      <ion-row *ngIf="customer.customerDetails.cntctPrsn != null">
        <ion-col col-8>
          {{customer.customerDetails.cntctPrsn == '' ? 'Not Available' : customer.customerDetails.cntctPrsn }}
        </ion-col>
        <ion-col col-4>
          {{customer.customerDetails.cntctPrsnNo == null ? '' : customer.customerDetails.cntctPrsnNo }}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="customer.customerDetails.cntctPrsn == null">
        <ion-col col-12>
          <div class="pj-empty-page">
            <ion-icon name="ios-contact-outline"></ion-icon>
            <h4>No Data Available</h4>
          </div>
        </ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card> -->

  <!-- Customer Address Details -->
  <!-- <ion-card>

    <ion-card-header>
      <ion-row>
        <ion-col col-12 text-center style="border-bottom: 1px solid #FFCB08;">
          Customer Address
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>

      <ion-row *ngIf="customer.customerAddressesList.length > 0">
        <ion-col col-12 *ngFor="let customerAddresses of customer.customerAddressesList">
          <p style="border-bottom: 1px solid #cececc; color: #fff;">
            {{customerAddresses.block == null ? '' : customerAddresses.block }},
            {{customerAddresses.street == null ? '' : customerAddresses.street }},
            {{customerAddresses.address2 }}, {{customerAddresses.address3 }}
          </p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="customer.customerAddressesList.length == 0">
        <ion-col col-12>
          <div class="pj-empty-page">
            <ion-icon name="ios-pin-outline"></ion-icon>
            <h4>No Address Available</h4>
          </div>
        </ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card> -->

  <!-- Customer All Invoices List-->
  <ion-row style="margin-bottom:2%;">
    <!-- <ion-col col-10 class="pj-full-width-border" no-margin>
      <ion-label>Invoices</ion-label>
    </ion-col> -->
    <ion-col col-3 class="pj-full-width-border" no-margin>
      <button ion-button (click)="createAgingPDFAndShare()" style="background-color: #1c2431; font-size: 20px; color:#E4EBED;">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 class="pj-full-width-border" no-margin>
      <button ion-button (click)="downloadAgingReport()" style="background-color: #1c2431; font-size: 20px; color:#E4EBED;">
        <ion-icon name="ios-download-outline"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 class="pj-full-width-border" no-margin>
      <button ion-button (click)="presentPopoverAging($event)" style="background-color: #1c2431; font-size: 20px; color:#E4EBED;">
        <ion-icon name="ios-list"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3 class="pj-full-width-border" no-margin>
      <button ion-button (click)="presentPopoverDataSorting($event)" style="background-color: #1c2431; font-size: 20px; color:#E4EBED;">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-col>
    <!-- <ion-col col-2 class="pj-full-width-border" no-margin>
      <button ion-button (click)="presentPopover($event)" style="background-color: #1c2431; font-size: 20px; color:#E4EBED;">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-col> -->
  </ion-row>

  <ion-card *ngIf="customerBalance != null">
    <ion-card-content>
      <ion-row>
        <ion-col col-12 text-center color="primary">
          <span style="font-size:4rem;">
            <strong>
              <i class="fa fa-rupee"></i> {{customerBalance}}
            </strong>
          </span>
          <p style="color:#E4EBED;font-size:10px;">( Pending Invoice Balance As Of {{tillDate | date : 'dd MMM yy'}} |
            > {{displayCriteria}} )</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- Customer All Invoices List-->

  <div *ngIf="null == customerAllInvoicesList || customerAllInvoicesList.length == 0" class="pj-empty-page" style="margin-top: 20%;">
    <ion-icon name="ios-document-outline"></ion-icon>
    <h4>No Invoices To Show</h4>
  </div>

  <ion-list>
    <div *ngFor="let invoice of customerAllInvoicesList">

      <!-- <button *ngIf="invoice.type == 'OB'" color="bgcolor" ion-item (click)="showInvoiceDetails(invoice)">
        <ion-row>
          <ion-col col-9>
            <p color="light"><strong>{{invoice.invoiceNo}}</strong></p>
            <span style="font-size:10px; color:#AFAFAF">{{invoice.invoiceDate | date: 'dd MMM yy' }}</span>
          </ion-col>
          <ion-col col-3>
            <p><i class="fa fa-rupee"></i>{{invoice.grossTotal}}</p>
            <span class="pj-bill-status">{{invoice.type}}</span>
          </ion-col>
        </ion-row>
      </button> -->

      <button *ngIf="invoice.type == 'JE' || invoice.type == 'OB' || (invoice.type == 'IN' && invoice.isPaid == 'O')"
        color="bgcolor" ion-item (click)="showInvoiceDetails(invoice)">
        <ion-row>
          <ion-col col-9>
            <p color="light"><strong>{{invoice.invoiceNo}}</strong></p>
            <span style="font-size:10px; color:#AFAFAF">{{invoice.invoiceDate |
              date: 'dd MMM'}} | {{invoice.dueDateInDays}} Days | Due: {{invoice.dueDate | date: 'dd MMM'}}</span>
            <!-- <span style="font-size:10px; color:#AFAFAF">{{invoice.invoiceDate |
            date: 'dd MMM'}}</span> -->
          </ion-col>
          <ion-col col-3>
            <p><i class="fa fa-rupee"></i> {{invoice.grossTotal}}</p>
            <span class="pj-bill-status">{{invoice.type}}</span>
          </ion-col>
        </ion-row>
      </button>
    </div>
  </ion-list>
  <!-- ./Customer All Invoices List-->


  <ion-fab bottom center (click)="dismissModal()" *ngIf="isModalData">
    <button color="primary" ion-fab>
      <ion-icon name="ios-arrow-round-forward-outline"></ion-icon>
    </button>
  </ion-fab>

  <div id="pdfDivLedger" style="display:none">
    <!-- <div id="pdfDivLedger"> -->
    <div style="text-align: center;">
      <h4>JAGTAP BUILDING SOLUTIONS</h4>
      <p>Asthavinayak Soc, Opp Bharat Jyoti Stop,</p>
      <p>Bibwewadi , Pune - 411037</p>
      <p>Tel No. : (O) 24216162, 9822610611</p>
      <p>Phone no. : 02024216162</p>
      <p>Pin code : 411037</p>
      <p>GSTIN : 27AFJPJ8271L1ZV</p>
      <p>E-Mail : jagtapbsolutions@gmail.com</p>
    </div>

    <div style="margin:5% 0;text-align: center; font-weight: bold">
      <h4>{{customer.customerDetails.cardName}}</h4>
    </div>

    <div style="text-align: center;">
      <h4>Ledger Report</h4>
      <p>01 Apr 19 - 31 Mar 20</p>
      <p>Date {{ currDate | date: 'dd MMM yy' }}</p>
    </div>

    <div style="margin-top:5%">

      <table style="border:1px solid #000;border-collapse: collapse; width:100%;">
        <tr>
          <td style="border:1px solid #000;">
            Post. Date
          </td>
          <td style="border:1px solid #000;">
            Trans.
          </td>
          <td style="border:1px solid #000;">
            Ref2
          </td>
          <td style="border:1px solid #000;">
            Source
          </td>
          <td style="border:1px solid #000;">
            Debit
          </td>
          <td style="border:1px solid #000;">
            Credit
          </td>
        </tr>
        <tr *ngFor="let ledgerInvoice of ledgerInvoiceList">
          <td style="border:1px solid #000;">
            {{ledgerInvoice.invoiceDate | date : 'dd MMM yy'}}
          </td>
          <td style="border:1px solid #000;">
            {{ ledgerInvoice.transId }}
          </td>
          <td style="border:1px solid #000;">
            {{ledgerInvoice.ref2}}
          </td>
          <td style="border:1px solid #000;">
            {{ ledgerInvoice.type }}
          </td>
          <td style="border:1px solid #000;">
            {{ledgerInvoice.debit == 0 ? '' : ledgerInvoice.debit }}
          </td>
          <td style="border:1px solid #000;">
            {{ledgerInvoice.credit == 0 ? '' : ledgerInvoice.credit}}
          </td>
        </tr>

        <tr style="font-weight: bold;">
          <td colspan=4 style="border:1px solid #000;">
            Total
          </td>
          <td style="border:1px solid #000;">
            {{totalDebitBalance}}
          </td>
          <td style="border:1px solid #000;">
            {{totalCreditBalance}}
          </td>
        </tr>

        <tr style="font-weight: bold;">
          <td colspan=4 style="border:1px solid #000;">
            Total Due Balance
          </td>
          <td colspan=2 style="border:1px solid #000;">
            {{ totalDebitBalance - totalCreditBalance }}
          </td>
        </tr>
      </table>

      <div style="margin-top: 5%; float:right;">
        <img [src]="imgPath" style="width:100%;height:auto;" />
      </div>
    </div>
  </div>


  <div id="pdfDivAging" style="display:none">
    <!-- <div id="pdfDivAging"> -->
    <div style="text-align: center;">
      <h4>JAGTAP BUILDING SOLUTIONS</h4>
      <p>Asthavinayak Soc, Opp Bharat Jyoti Stop,</p>
      <p>Bibwewadi , Pune - 411037</p>
      <p>Tel No. : (O) 24216162, 9822610611</p>
      <p>Phone no. : 02024216162</p>
      <p>Pin code : 411037</p>
      <p>GSTIN : 27AFJPJ8271L1ZV</p>
      <p>E-Mail : jagtapbsolutions@gmail.com</p>
    </div>

    <div style="margin:5% 0;text-align: center; font-weight: bold">
      <h4>{{customer.customerDetails.cardName}}</h4>
    </div>

    <div style="text-align: center;">
      <h4>Overdue Report</h4>
      <p>{{datePeriod}}</p>
      <p>Date {{ currDate | date: 'dd MMM yy' }}</p>
    </div>

    <div style="margin-top:5%">

      <table style="border:1px solid #000;border-collapse: collapse; width:100%;">
        <tr>
          <td style="border:1px solid #000;">
            Date
          </td>
          <td style="border:1px solid #000;">
            Type
          </td>
          <td style="border:1px solid #000;">
            Invoice No.
          </td>
          <td style="border:1px solid #000;">
            Amount
          </td>
          <td style="border:1px solid #000;">
            Due Date
          </td>
          <td style="border:1px solid #000;">
            Overdue By Days
          </td>
        </tr>
        <tr *ngFor="let agingInvoice of agingReportList">
          <td style="border:1px solid #000;">
            {{agingInvoice.invoiceDate | date : 'dd MMM yy'}}
          </td>
          <td style="border:1px solid #000;">
            {{ agingInvoice.type }}
          </td>
          <td style="border:1px solid #000;">
            {{agingInvoice.invoiceNo}}
          </td>
          <td style="border:1px solid #000;">
            {{ agingInvoice.grossTotal }}
          </td>
          <td style="border:1px solid #000;">
            {{ agingInvoice.dueDate | date : 'dd MMM yy' }}
          </td>
          <td style="border:1px solid #000;">
            {{ agingInvoice.overduedays }}
          </td>
        </tr>

      </table>

      <div style="margin-top: 5%; float:right;">
        <img [src]="imgPath" style="width:100%;height:auto;" />
      </div>

    </div>
  </div>

</ion-content>