<!--
  Generated template for the CustFilterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="navbar">
    <ion-title text-center>Customer Filter Modal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-grid>

    <ion-row>
      <ion-col col-4 style="margin:1%;background-color: #FFCB08; color:#000; padding:5px;border-radius:15px;" *ngFor="let selectedCust of selectedCustList">
        <div style="width:90%;float:left">{{selectedCust}}</div>
        <div style="width: 8%;float:left" (click)="removeSelectedCust(selectedCust)">
          <ion-icon name="md-close"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>

        <ion-list>

          <ion-item *ngFor="let summaryReportCust of summaryReportCustList">
            <ion-label (click)="updateSummaryReportCheckStatus(summaryReportCust)">{{summaryReportCust}}</ion-label>
            <!-- <ion-checkbox (ionChange)="updateSummaryReportCheckStatus(summaryReport)"></ion-checkbox> -->
          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer color="primary">
  <ion-toolbar>
    <ion-row>
      <ion-col col-6 (click)="dismissModal()" text-center>
        CANCEL
      </ion-col>
      <ion-col col-6 (click)="applyFilters()" text-center>
        APPLY FILTERS
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>