page-order-details {

    p {
        color: color($colors, light, base) !important;
    }

    .pj-underline-heading {
        color:#FFCB08; 
        margin-top:2%; 
        border-bottom: 1px solid #FFCB08;
    }
}
