<!--
  Generated template for the OrderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="navbar">
        <ion-title text-center>Order Details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content no-padding>

    <ion-card>
        <ion-card-content>

            <ion-row>
                <ion-col col-6>
                    <p>{{ orderDetails.docNum }} </p>
                </ion-col>
                <ion-col col-6>
                    <p class="pj-date-and-status" style="color: #ccc;">
                        {{ orderDetails.docDate | date: 'dd MMM yyyy H:mm a' }}
                    </p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <p>{{orderDetails.cardCode}} - {{ orderDetails.cardName }}</p>
                </ion-col>
            </ion-row>

            <!-- Sale Order Quantity Details -->
            <ion-row>
                <ion-col col-8 class="semidark-color-imp">
                    <p>Sales Order Qty</p>
                    <p>Sales Order Opening Qty</p>
                    <p>Sales Order Delivery Qty</p>
                    <p>Sales Order Pending Qty</p>
                </ion-col>
                <ion-col col-4 class="semidark-color-imp">
                    <p>{{ orderDetails.quantity }}</p>
                    <p>{{ orderDetails.openQuantity }}</p>
                    <p>{{ orderDetails.deliveredQuantity }}</p>
                    <p>{{ orderDetails.openQuantity }}</p>
                </ion-col>
            </ion-row>

            <!-- Delivery Address -->
            <ion-row>
                <ion-col col-12 text-center class="pj-underline-heading">
                    Delivery Address
                </ion-col>
            </ion-row>

            <ion-row center>

                <div>
                    <ion-row>
                        <ion-col col-12 class="semidark-color-imp">
                            {{ orderDetails.shipToCode }}
                        </ion-col>
                    </ion-row>
                </div>

            </ion-row>
            <!-- ./Delivery Address -->


            <ion-row class="pj-underline-heading">
                <ion-col col-10>
                    Order Items
                </ion-col>
            </ion-row>


            <div *ngIf="orderItems.length==0" class="pj-empty-page">
                <ion-icon name="ios-cart-outline"></ion-icon>
                <h4>No Item Added To Show</h4>
            </div>

            <ion-row>
                <ion-col col-12>
                    <ion-list>

                        <button color="dark" ion-item *ngFor="let orderItem of orderItems; let i of index">
                            <ion-row>
                                <ion-col col-12>
                                    <!-- <h4 class="pj-card-label-primary">{{ orderItem.itemDtlsId.itemNo }} - {{
                                        (orderItem.itemDtlsId.itemName == '' || orderItem.itemDtlsId.itemName == null)
                                        ? 'Description Not Available' : orderItem.itemDtlsId.itemName }}</h4> -->
                                    {{ orderItem.itemCode }} - {{ orderItem.dscription }}
                                </ion-col>
                            </ion-row>
                            <!-- <ion-row>
                                <ion-col col-12>
                                    <h3 class="pj-label-level-2">Grade</h3>
                                    <p class="pj-sub-title">{{ (orderItem.itemDtlsId.itemName == '' || orderItem.itemDtlsId.itemName == null) ? 'Description Not Available' : orderItem.itemDtlsId.itemName }}</p>
                                </ion-col>
                            </ion-row> -->

                            <ion-row>
                                <ion-col col-8>
                                    <p>Required Qty</p>
                                    <p>Delivered Qty</p>
                                    <p>Pending Qty</p>
                                </ion-col>
                                <ion-col col-4>
                                    <p>{{ orderItem.quantity }}</p>
                                    <p>{{ orderItem.delivrdQty }}</p>
                                    <p>{{ orderItem.openQty }}</p>
                                </ion-col>
                            </ion-row>
                        </button>

                    </ion-list>

                </ion-col>
            </ion-row>

        </ion-card-content>
    </ion-card>


    <!-- Delivery Details List -->
    <ion-row class="pj-underline-heading" style="margin: 5%;">
        <ion-col col-10>
            Delivery Details
        </ion-col>
        <ion-col col-2 (click)="addDeliveryDetails()">
            <ion-icon name="add-circle" color="primary"></ion-icon>
        </ion-col>
    </ion-row>

    <div *ngIf="deliveryDetailsList.length==0" class="pj-empty-page">
        <ion-icon (click)="addDeliveryDetails()" text-center name="ios-add-circle-outline"></ion-icon>
        <h4>No Deliveries To Show</h4>
    </div>

    <ion-list *ngIf="deliveryDetailsList.length > 0">
        <div ion-item *ngFor="let deliveryDetails of deliveryDetailsList" style="color:#FFCB08 !important;background-color:#1c2431;">

            <ion-row>
                <ion-col col-6>
                    Date
                </ion-col>
                <ion-col col-6>
                    {{momentjs(deliveryDetails.createdTs).format('DD MMM YY hh:mm A')}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-6>
                    Quantity
                </ion-col>
                <ion-col col-6>
                    {{deliveryDetails.quantity}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-6>
                    Transporter Name
                </ion-col>
                <ion-col col-6>
                    {{deliveryDetails.transporterName}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-6>
                    Material Source
                </ion-col>
                <ion-col col-6>
                    {{deliveryDetails.materialSource}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    Actual Destination
                </ion-col>
                <ion-col col-6>
                    {{deliveryDetails.actualDestination}}
                </ion-col>
            </ion-row>
            <ion-row class="pj-underline-heading" text-center>
                <ion-col col-12>
                    Vehicle No.
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-10>
                    <p>{{deliveryDetails.vehNo}}</p>
                </ion-col>
                <ion-col col-2 (click)="navigateToVehicleTrackingView()">
                    <ion-icon name="ios-navigate" class="pull-right" color="primary"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>

    <!-- Update Order Details -->
    <!--<ion-fab bottom right>
        <button class="add-button" color="primary" ion-fab (click)="naviagteToOrderUpdatePage()">
          <ion-icon name="create"></ion-icon>
      </button>
    </ion-fab>-->

</ion-content>